/* .school {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: .8;
    height: 30rem;
    padding: 1rem;
} */

.rock-body {
  position: relative;
  display: inline-block;
  height: 15rem;
  padding: 5px;
}

.rock-div {
    position: relative;
    display: inline-block;
    height: 15rem;
    padding: 5px;
  }

  .mouth {
   position: absolute;
   height: 6rem;
    top: 70px;
    left: 80px;
  }
  
  .eyes {
    position: absolute;
    height: 3rem;
    top: 50px;
    left: 80px;
  }

  .name {
    position: absolute;
    bottom: 2px;
    left: 20px;
    color: white
  }

  .delete {
    position: absolute;
    bottom: 2px;
    left: 20px;
  }

  .show {
    position: absolute;
    top: 0px;
    padding: 5px;
    left: 10px;
    color: black;
    background: rgba(255, 255, 255, 0.666);
  }

  .body-thumbnail {
    height: 5rem;
  }
  .mouth-thumbnail {
    height: 5rem;
    background-color: coral;
  }
  .eye-thumbnail {
    height: 3rem;
    background-color: coral;
  }
  
  
  #header {
    display: flex;
    justify-content: center;
    background: yellow;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
